.am5-custom-tooltip {
  background: rgba(18, 53, 42, 1);
  border: 0px;
  padding: 8px;
  color: rgba(138, 162, 156, 1);
  font-family: "Quantico";
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  transition: opacity 0.3s ease;
  max-width: 220px;
}
