@import "tailwindcss";

@plugin "@tailwindcss/forms";


@theme{
    /* Colors */
    --color-light-green:#A2BEB8;
    --color-light-green-100:#7F9792;
    --color-light-green-700:#02362A;
    --color-light-grey:#EDEEEE;  

    --color-cyan-500:#3AE7FF;  
    /* Font */
    --font-quantic: "Quantico", serif;

    /* height */
    /* Shadows */
    --shadow-card-inset:inset -42px -20px 62.1px #000000, inset 37px 35px 33.9px rgba(0, 0, 0, 0.25);
}
  

.custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5 /* Width of the scrollbar */;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-light-green-100 rounded-md cursor-pointer; /* Rounded edges for the scrollbar handle */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-light-green /* Color of the scrollbar handle on hover */;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-black/10 rounded-md /* Background color of the scrollbar track */;
  }